body{
    font-family: "Montserrat", sans-serif;
    margin: 0px;
    background-color: #000;
    color: #fff;
    overflow: hidden;

}
.main{
    display: flex;
    height: 100vh;
    padding: 0.5rem;
}
.sidebar{
    background-color: #000;
    width: 300px;
    border-radius: 1rem;/*16px*/
    margin-right: 0.5rem;
}
  .main-content{
    background-color: #121212;
    flex: 1;
    border-radius: 1rem;/*16px*/
    overflow: auto;
    padding: 0 1.5rem 0 1.5rem;  

}

 a{ 
    text-decoration: none;
    color: #fff;
}
.nav{
    background-color: #121212;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: center;
    padding: 0.5rem 0.75rem;
}
.nav-option{ 
    
    opacity: 0.7;
    padding: 0.5rem 0.7rem;

}
.nav-option:hover{
    opacity: 1;
}
.nav-option i{
    font-size: 1.25rem; 
}
.nav-option a{
    font-size: 1rem;
    margin: 1rem;
}

.library{
    background-color: #121212;
    border-radius: 1rem;
    height: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem 0.7rem;
}
.options{
    display: flex;
    justify-content: space-between;
    align-items: center;  
}
.lib-options img{
    height: 1.5rem;
    width: 1.5rem;
} 
.icon{
    font-size: 1.25rem;  
}
.icon i{
    opacity: 0.7;
    margin-right: 1rem;
}
.icon i:hover{
    opacity: 1;
}
.library .lib-box{
    background-color: #121212;
    /* width: 280px; */
}

.box{
    background-color: #232323;
    height: 110px;
    border-radius: 0.75rem;
    display: flex;
    flex-direction:row;
    line-height: 1.3rem;
    padding: 0.5rem 0.5rem;
    margin: 0.75rem;
    flex-wrap:wrap ;
}
.box-p1{
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
}
.box-p2{ 
    font-size: 0.8rem;
    opacity: 0.7;
}
    
.badge{
    background-color: #fff;
    border-radius: 2rem;
    font-weight: 700;
    width: 8rem;
    height: 2rem;
    /* padding: 0.5rem 1rem; */
   } 
   
.nav-sticky{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    background-color: #121212;
    align-items: center;
    padding: 0.7rem 0 1rem 0;
}
.nav-sticky-img{
    height: 1rem;
    width: 1rem;
}
.nav-sticky-icons{
    margin-left: 1rem;
    opacity: 0.7;
}
.nav-sticky-icons:hover{
    opacity: 1;
}
.nav-sticky-options{
    display: flex;
    justify-content: center;
    align-items: center;
    /* opacity: 0.7; */
}
.nav-sticky-options button{
    margin-right: 1rem;
    opacity: 1;
}

.dark-badge{
    background-color: #000;
    color: #fff;
}

@media(max-width:1000px){
    .hide{
        display: none;
    }
}

.card{
    background-color: #232323;
    width: 10.5rem;
    height: 15.5rem;
    padding: 1rem;
    margin: 1.5rem 1.5rem 0 0;
}
.card-container{
    display:flex;
    flex-wrap: wrap;
}
.card img{
    width: 10.5rem;
    height: 10rem;
    /* padding: 0.5rem; */
    border-radius: 1rem;
}
.card-title{
    font-size: 1rem;
    font-weight: 600;
}
.card-info{
    font-size: 0.8rem;
    opacity: 0.7;
}
.footer{
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.line{
    width: 90%;
    height: 30%;
    border-top: 1px solid white;

}
.musicplayer{ 
    background-color: #000;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 98px;
    display: flex;
    flex-direction: row;
}
.album{
    background-color:aqua;
    height: 100%;
    width: 25%;

}
.player{
/* background-color: aliceblue; */
width: 50%;
display: flex;
/* flex-direction: row;
justify-content: space-around;
align-items: center; */
position: relative;

}
.player-controls{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}   
.player img{
    height: 1remrem;
    width: 1rem;
    /* padding: 10px; */
    margin: 1rem 1rem ;
    margin-bottom:4rem;
    opacity: 0.7;

}
.player .pause{
    height: 2rem;
    width: 2rem;
    opacity: 1;
}
.player img:hover{
    opacity: 1;
}
.controls{
background-color: aquamarine;
width: 25%;
}

.playback-bar{
    display: flex;
    width: 70%;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center; 
    position: absolute;
    top: 3rem;
    left: 5rem;
    margin-top: 1rem;
}
.progress-bar{
    width: 70%;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
}

.progress-bar::-webkit-slider-runnable-track{
    background-color: #ddd;
    border-radius: 6rem;
    height: 0.25rem;
}
.progress-bar::-webkit-slider-thumb{
    appearance: none;
    height: 1rem;
    width: 1rem;
    background-color: #1bd760;
    border-radius: 50%;
    margin-top: -0.35rem;
}